[% INCLUDE header.tt %]

Pubs in region: [% region %]:

[% FOREACH pub IN pubs.all %]
<div class="event">
  <a href="/pub/[% pub.region %]/[% pub.name %]">[% pub.name %] ([% pub.region
    %])</a>
</div>
[% END %]

[% INCLUDE footer.tt %]
