[% INCLUDE header.tt %]
Upcoming events:
[% FOREACH event IN events.all %]
<div class="event">
    Date: [% event.startdate %]<br/>
    Place: [% event.place %]<br/>
    <a href="/event/view/[% event.id %]">View details</a> (incl. attendees)
</div>
[% END %]
[% INCLUDE footer.tt %]
