<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>[% title || 'EventBot' %]</title>
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+English' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nobile" />
    <link href="[% base %]static/main.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="/static/jquery-1.3.2.min.js"></script>
[% IF need_datepicker %]
    <link type="text/css" href="/static/ui/ui.all.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/ui/ui.core.js"></script>
    <script type="text/javascript" src="/static/ui/ui.datepicker.js"></script>
[% END %]
[% IF need_api %]
    <script type="text/javascript" src="/static/eventbot-api.js"></script>
[% END %]
    <meta property="fb:admins" content="536696491" />
  </head>
  <body>
    <div class="wrapper">

      <h1>EventBot</h1>
      <h3>Project for a new EventBot Century</h3>

      <p class="menubar">
        <a href="/">Home</a>
        |
        <a href="/event/list">Event list</a>
        |
        <a href="/rss/upcoming">RSS</a>
        |
        <a href="/ical">iCal</a>
        |
        <a href="/event/pastlist">Past events</a>
        |
        <a href="/pub/">Pub List</a>
        |
        <a href="/manage">Manage stuff</a>
        |
        <a href="/election/latest/result">Election results</a>
        |
        <a href="/people/top">Top attendees</a>
        |
        <a href="/api">API</a>
        |
        <a href="/about">About</a>
      </p>
