<!DOCTYPE html>
<html>
  <head>
    <title>[% title || 'EventBot' %]</title>
    <link href='http://fonts.googleapis.com/css?family=IM+Fell+English' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Tangerine" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Nobile" />
    <link href="[% base %]static/main.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>

    [% IF need_gmaps %]
    <script type="text/javascript"
      src="http://maps.google.com/maps/api/js?sensor=false">
    </script>
    [% END %]

[% IF need_datepicker %]
    <link type="text/css" href="/static/ui/ui.all.css" rel="stylesheet" />
    <script type="text/javascript" src="/static/ui/ui.core.js"></script>
    <script type="text/javascript" src="/static/ui/ui.datepicker.js"></script>
[% END %]
[% IF need_api %]
    <script type="text/javascript" src="/static/eventbot-api.js"></script>
[% END %]
    <meta property="fb:admins" content="536696491" />
    <meta property="og:title" content="EventBot" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://eventbot.dryft.net" />
    <meta property="og:site_name" content="EventBot" />
    <meta property="og:image"
          content="http://eventbot.dryft.net/static/eventbot_icon.png" />
  </head>
  <body>
    <div class="wrapper">

      <h1>EventBot</h1>
      <h3>Project for a new EventBot Century</h3>

      <p class="menubar">
        <a href="/">Home</a>
        |
        <a href="/event/list">Event list</a>
        |
        <a href="/rss/upcoming">RSS</a>
        |
        <a href="/ical">iCal</a>
        |
        <a href="/event/pastlist">Past events</a>
        |
        <a href="/pub/">Pub List</a>
        |
        <a href="/manage">Manage stuff</a>
        |
        <a href="/election/latest/result">Election results</a>
        |
        <a href="/people/top">Top attendees</a>
        |
        <a href="/api">API</a>
        |
        <a href="/about">About</a>
      </p>
