<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <link title="defaultStyle" href="[% base %]static/main.css" type="text/css"
          rel="stylesheet" />
  </head>
  <body>
      <p class="slogan">
      <span id="big">EventBot</span><br/>
      <em>Project for a new EventBot Century</em></p>
      <p class="menubar">
        <a href="/">Home</a>
        |
        <a href="/event/list">Event list</a>
        &amp;
        <a href="/rss/upcoming">RSS feed</a>
        |
        <a href="/event/pastlist">Past events</a>
        |
        <a href="/pub/all">Pub List</a>
        |
        <a href="/manage">Manage stuff</a>
        |
        <a href="/election/latest/result">Election results</a>
        |
        <a href="/people/top">Top attendees</a>
        |
        <a href="/about">About</a>
      </p>
