[% INCLUDE header.tt %]

<ul>
  <li><a href="/manage/pub/create">Nominate a new pub for voting</a></li>
  <li><a href="/pub/all">List available pubs</a> (and edit)</li>
  <li><a href="/manage/specialevent/list">List special events</a></li>
  <li><a href="/manage/specialevent/create">Create new special event</a>
      (that will be voted upon in election)</li>
  <li><a href="/manage/event/create">Create immediate event</a></li>
</ul>

[% INCLUDE footer.tt %]

