[% INCLUDE header.tt %]

List of special events:
[% FOREACH event IN events.all %]
  <div class="event">
    Date: [% event.date %]<br/>
    Nominee: <a href="/person/view/[% event.person.name %]">[% event.person.name
    %]</a><br/>
    Venue: <a href="/pub/[% event.pub.region _ '/' _ event.pub.name %]">[%
    event.pub.name %]</a> ([% event.pub.region %])</br>
    Comment: [% event.comment %]
  </div>
[% END %]

[% INCLUDE footer.tt %]

